<div class="card mt-4">
    <img class="card-img-top img-thumbnail" style="width:300px" src="{{ productDtl.productImg }}" alt="..." />
    <div class="card-body">
        <h3 class="card-title">{{ productDtl.productName }}</h3>
        <a href="products/update-product/{{productDtl.productId}}">Update Product</a> | 
        <a href="products/delete-product/{{productDtl.productId}}">Detelte Product</a>
        <h4>${{ productDtl.price }}</h4>
        <p class="card-text">{{ productDtl.description }}</p>
        <span class="text-warning">{{ productDtl.rating }}</span>        
    </div>
</div>
<div class="card card-outline-secondary my-4">
    <div class="card-header">Product Reviews</div>
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
        <small class="text-muted">Posted by Anonymous on 3/1/21</small>
        <hr />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
        <small class="text-muted">Posted by Anonymous on 3/1/21</small>
        <hr />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
        <small class="text-muted">Posted by Anonymous on 3/1/21</small>
        <hr />
        <a class="btn btn-success" href="#!">Leave a Review</a>
    </div>
</div>